html,
body,
#root {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 20px;
}

.content {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}